.login {
  width: 100%;
  height: auto;
  background-color: #e8edf4;
  padding: 50px 0;
}

.login-container {
  width: 400px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px 0;
}

.login-container__title {
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--plomo);
  font-weight: bold;
}

.login-container img {
  width: 200px;
  display: block;
  margin: 30px auto;
}

.login-container form {
  width: 300px;
  margin: 20px auto;
}

.login-container input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-color: #fff;
  border-radius: 5px;
  padding: 0 10px;
}

.login-container__error {
  background-color: #ff9784;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}

.login-container__error p {
  margin: 0;
}

.login-container input::placeholder {
  font-size: 14px;
}

.login-container__parrafo {
  font-size: 14px;
  text-align: center;
}

.login-container__login {
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--azul-oscuro);
  color: #fff;
}

.login-container__registrate {
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #111;
}

.login-container__registrate:hover {
  background-color: var(--azul-oscuro);
  color: #fff;
}

.login-container__registrate {
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #111;
}

.login-container__registrate:hover {
  background-color: var(--azul-oscuro);
  color: #fff;
}
