<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <p>Logo</p>
    </div>
    <ul
      class="navbar-list"
      [ngClass]="{ navbarHide: showList, navbarShow: !showList }"
    >
      <li><a routerLink="/home">Inicio</a></li>
      <li><a href="">Nosotros</a></li>
      <li><a href="">Contáctanos</a></li>
    </ul>
    <div class="navbar-button">
      <a routerLink="/login" class="navbar-button__sesion">IS</a>
      <a class="navbar-button__toggle" (click)="onShowNavbar()"> PP </a>
    </div>
  </div>
</div>
