.navbar {
  background-color: var(--azul-oscuro);
}

.navbar-container {
  width: 100%;
  max-width: 1120px;
  height: 121px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar-logo {
  padding-left: 10px;
}

.navbar-list {
  display: none;
}

.navbar-button button {
  border: none;
  width: 50px;
  height: 40px;
  border-radius: 8px;
  background-color: #9a9da0;
  color: #fff;
  margin-right: 10px;
}

@media (min-width: 426px) {
  .navbar-list {
    display: flex;
    list-style: none;
  }

  .navbar-list li a {
    color: #000;
    text-decoration: none;
    padding: 5px 20px;
  }

  .navbar-button__toggle {
    display: none;
  }
}

@media (min-width: 769px) {
}
