html

<!--EQUIPO-->>
<div class = "equipo">
    <div class = "equipo-container">
        <div class="equipo-titulo">
            <h1>Equipo</h1>
        </div>

        <div class="row-equipo">
            <img src="img/aaron.png" alt="" width="150" height="150" class="img-circle imagen rounded rounded-circle" />
            <img src="img/angie.png" alt="" width="150" height="150" class="img-circle imagen rounded rounded-circle"/>
            <img src="img/kiara.png" alt="" width="150" height="150" class="img-circle imagen rounded rounded-circle"/>
            <img src="img/lourdes.png" alt="" width="150" height="150" class="img-circle imagen rounded rounded-circle"/>
      
         
        </div>

        <div class = "row-equipo">
            <img src="img/luis.png" alt="" width="150" height="150" class="img-circle imagen rounded rounded-circle"/>

            <img src="img/noemi.png" alt="" width="150" height="150" class="img-circle imagen rounded rounded-circle"/>

            <img src="img/stefanie.png" alt="" width="150" height="150" class="img-circle imagen rounded rounded-circle"/>

        </div>
    </div>
</div>


