
    <!--seccion session -->
    <section class="wrapper">
        <div class="portada">

        </div>
        <div class=" container">
            <div>
                <h1 class="title">Job Studying</h1>
                <p>El sitio adecuado para estudiantes y empleadores <p> 
                <div style="display: flex;">
                    <a href="#" class="btn first">Registrar</a>
                    <a href="#" class="btn first">Iniciar sesion</a>
                </div>


            </div>
        </div>

    </section>

    
