
        <div class="container">
          <div class="center">
            <div>
                <h2 class="titulo-login,text-center">INICIAR SESIÓN</h2>
            </div>
            <br>
            <div>
              <img class="img-inicio" src="../../../assets/img/pngwing.com (1).png" alt="">
            </div>
            <br>
            <div class="img-inicio" style="background-color: aliceblue;">

            </div>
            <div>

              <input type="text" class="formulario" placeholder="Usuario o email">

            </div>
            <br>
            <div>

              <input type="password" class="formulario" placeholder="Contraseña">

            </div>
            <br>
            <div>
                <a href="" class="btn">Iniciar sesión</a>
            </div>
            <div>

            </div>


        </div>

      </div>



