.center{
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}
h1 {
  font-size: 100rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.titulo-login{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.box
{
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;

  }
.img-inicio{
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
.formulario{
    grid-column: 2;
    color: violet;
    grid-row: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
