<!--seccion session -->
<section class="wrapper">
  <div class="portada"></div>
  <div class="container">
    <div>
      <h1 class="title">Job Studying</h1>
      <p>El sitio adecuado para estudiantes y empleadores</p>
      <p></p>
      <div style="display: flex">
        <a routerLink="/register" class="btn first">Registrar</a>
        <a routerLink="/login" class="btn first">Iniciar sesion</a>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>¿QUIENES SOMOS?</h1>
      <p class="intro">
        Somos “DIGITAL SOS”. Estamos conformados por un grupo de siete
        estudiantes de la Universidad Privada Antenor Orrego, a los cuales nos
        apasiona la tecnología y su uso, con el fin de poder solucionar
        problemáticas existentes en la sociedad.
        <br />
        Nuestra misión es: Desarrollar una idea innovadora en el ámbito digital,
        describiéndola tal como una aplicación web para publicar ofertas
        laborales a estudiantes universitarios.
        <br />
        Nuestra visión es: Ser una empresa conocida por excelencia en el Perú
        donde empleadores de distintas empresas tecnológicas puedan contratar a
        estudiantes universitarios que cursan los últimos ciclos de la carrera
        de Ingeniería de Computación y Sistemas.
      </p>
    </div>
  </div>
</div>

<!--EQUIPO-->
<div class="container-equipo">
  <h1 class="equipo-titulo">Equipo</h1>

  <ul class="list-image">
    <li>
      <div class="div.container__image">
        <img src="assets/img/aaron.png" alt="" class="image__" />
        <div class="information__image">
          <p class="name__image" style="color: #156c9d">Aaron Paredes</p>
        </div>
      </div>
    </li>

    <li>
      <div class="div.container__image">
        <img src="assets/img/stefanie.png" alt="" class="image__" />
        <div class="information__image">
          <p class="name__image" style="color: #156c9d">Stefanie Pizarro</p>
        </div>
      </div>
    </li>

    <li>
      <div class="div.container__image">
        <img src="assets/img/kiara.png" alt="" class="image__" />
        <div class="information__image">
          <p class="name__image" style="color: #156c9d">Kiara Requenes</p>
        </div>
      </div>
    </li>

    <li>
      <div class="div.container__image">
        <img src="assets/img/lourdes.png" alt="" class="image__" />
        <div class="information__image">
          <p class="name__image" style="color: #156c9d">Lourdes Cornejo</p>
        </div>
      </div>
    </li>

    <li>
      <div class="div.container__image">
        <img src="assets/img/luis.png" alt="" class="image__" />
        <div class="information__image">
          <p class="name__image" style="color: #156c9d">Luis Silva</p>
        </div>
      </div>
    </li>

    <li>
      <div class="div.container__image">
        <img src="assets/img/noemi.png" alt="" class="image__" />
        <div class="information__image">
          <p class="name__image" style="color: #156c9d">Noemi Vasquez</p>
        </div>
      </div>
    </li>

    <li>
      <div class="div.container__image">
        <img src="assets/img/angie.png" alt="" class="image__" />
        <div class="information__image">
          <p class="name__image" style="color: #156c9d">Angie Cabanillas</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="unete">
  <div class="text">
    <h1>Que esperas para unirte</h1>
    <a routerLink="/register" mat-raised-button>Registrarme</a>
  </div>
</div>

<div class="home-contactanos__container">
  <div class="home-contactanos">
    <div class="home-contactanos__seccion1">
      <div class="home-contactanos__seccion1-container">
        <h1>CONTÁCTANOS</h1>
        <label for="formGroupExampleInput" class="form-label">Nombre</label>
        <br />
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Ingresa tu nombre"
        />
        <br />
        <label for="formGroupExampleInput2" class="form-label">Email</label>
        <br />
        <input
          type="Email"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Ingresa tu email"
        />
        <br />
        <button mat-raised-button>Enviar</button>
      </div>
    </div>
    <div class="home-contactanos__seccion2">
      <img
        src="assets/img/contactanos.jpg"
        class="img-fluid d-none d-sm-block"
        alt="Contactanos"
      />
    </div>
  </div>
</div>
