.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(85vh, auto);
}
a {
  text-decoration: none;
}
.container {
  grid-column: 2;
  grid-row: 1;
  padding-left: 100px;
  display: flex;
  align-items: center;
}

/* sessions */
.portada {
  grid-column: 1;
  grid-row: 1;
  background-image: url("../../../../assets/img/log.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: #156c9d;
  line-height: 1.25em;
  font-size: 72px;
  letter-spacing: normal;
  overflow-wrap: break-word;
  text-align: start;
  margin: 0;
}

.container p {
  margin: 25px 0 25px 0;
  background: transparent;
  text-align: left;
  line-height: 1.67em;
  font-size: 20px;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #156c9d;
  border-radius: 0.6em;
  color: #156c9d;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #156c9d inset;
}

/*2da parte*/
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  grid-auto-rows: minmax(85vh, auto);
  max-width: 80%;
  margin: auto;
}
a {
  text-decoration: none;
}
.div1 {
  grid-column: 1;
  grid-row: 1;
}
/* sessions */
.div2 {
  grid-column: 3;
  grid-row: 1;
  background-image: url("../../../../assets/img/session.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-fluid {
  background-color: #156c9d;
  margin-right: 80px;
  margin-left: 80px;
  padding: 50px;
  text-align: center;
  margin-top: 50px;
  color: #fff;
}
.intro {
  line-height: 2;
  padding-left: 5rem;
  padding-right: 5rem;
}

/*EQUIPO*/
.container-equipo {
  background-color: #cce8f8;
  margin-right: 80px;
  margin-left: 80px;
  padding: 50px;
  position: relative;
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

.container-equipo .equipo-titulo {
  font-size: 30px;
  font-weight: 500;
  color: #156c9d;
}

.container-equipo .list-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-equipo .list-image li img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 150px;
}

.container-equipo .list-image li {
  margin-top: 30px;
  margin-right: 60px;
  margin-bottom: 50px;
  list-style: none;
}

.container-equipo .list-image li .information__image .name__image {
  font-size: 15px;
  font-weight: 500;
}

/*SECCION IMAGEN UNETE*/
.unete {
  background-image: url("../../../../assets/img/unete.png");
  background-size: cover;
  margin-top: 50px;
  height: 500px;
  width: 100%;
  text-align: center;
}
.text {
  margin: 60px 0px 60px 0px;
  text-align: center;
  margin-top: 160px;
  padding: 10px;
  display: inline-block;
}

.text h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.unete .text .mat-raised-button {
  background-color: #156c9d;
  color: #fff;
}

/*contactanos*/
.home-contactanos {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home-contactanos__seccion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-contactanos__seccion1-container {
  width: 400px;
}
.home-contactanos__seccion1-container h1 {
  color: var(--azul-oscuro);
}
.home-contactanos__seccion1-container input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #111;
  padding: 15px 5px;
  margin: 5px 0;
  margin-bottom: 10px;
}
.home-contactanos__seccion1-container input::placeholder {
  margin-left: 5px;
}
.home-contactanos__seccion1-container button {
  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  background-color: var(--azul-oscuro);
  color: #fff;
}
.home-contactanos__seccion2 img {
  width: 100%;
}
